/* Add a black background color to the top navigation */
.topnav {
    background-color: #222;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #4da4ff;
    color: white;
  }
  

  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  body {
    background-color: #eff1f2;
    font-family: sans-serif;}

    a{text-decoration: none; font-size: 20px;font-family: sans-serif;padding: 14px 10px}
    li a:hover{background: #4da4ff; color:#fff;}
     ul{padding: 14px}
     